body {
  --black: #000;
  --white: #fff;
  --VSCodeBG: #11151a;
  --BGColor: #282828;
  --BGColor1: #262d41;
  --BGColor2: #313a50;
  --SkyBlue: #61dafb;
  --Cyans: #21ebff;
  --DarkCyans: #17a9b3;
  --Blue: #2456ff;
  --LightBlue: #69a5f8;
  --YelGreen: #21ff30;
  --Green: #17b322;
}

.big {
  color: #0ff;
  font-size: 25px;
}

/* input area ---------------- */
/* input area ---------------- */
/* input area ---------------- */

.top_input {
  /* border: 3px solid #0ff; */
  display: flex;
  justify-content: center;
}

.top_input>input {
  height: 30px;
  margin-right: 10px;
}

#inputBody {
  width: 300px;
}

#inputDate {
  height: 32px;
}

#inputSubmit {
  height: 34px;
}

#inputTitle,
#inputDate,
#inputBody {
  color: var(--white);
  background-color: var(--VSCodeBG);
  outline: none;
  border: 1px solid var(--LightBlue);
  transition: 1s;
}

#inputTitle:hover,
#inputDate:hover,
#inputBody:hover {
  transition: 10ms;
  border: 1px solid var(--YelGreen);
}

#inputTitle:focus,
#inputDate:focus,
#inputBody:focus {
  outline: none !important;
  border: 1px solid var(--Cyans);
  box-shadow: 0 0 20px var(--Cyans);
  transition: all 0.5s ease-in-out;
}


#inputSubmit {
  padding: 10px;
  color: var(--white);
  background-color: var(--VSCodeBG);
  font-size: 16px;
  text-align: center;
  letter-spacing: 4px;
  border: 1px solid var(--LightBlue);
  transition: 1s;
}

#inputSubmit:hover {
  background-color: var(--Cyans);
  border: 1px solid var(--Cyans);
  color: #000;
  box-shadow: 0 0 2px #21ebff55, 0 0 4px #21ebff, 0 0 8px #21ebff, 0 0 16px #21ebff;
  transition: all 0.2s;
}

/* Visible Area -------------- */
/* Visible Area -------------- */
/* Visible Area -------------- */
/* .dday-cent {
  margin: auto;
  justify-content: center;
  align-content: center;
} */

.headHR {
  margin-left: 40px;
  margin-right: 40px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

.specialHR {
  margin-left: 40px;
  margin-right: 40px;
  border: 0;
  border-radius: 10px;
  height: 5px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1));
}

/* Glow effect HR */
/* .specialHR {
  margin-left: 40px;
  margin-right: 40px;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.8);
} */

/* S Shape HR */
/* .specialHR {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #fff;
  color: #fff;
  text-align: center;
}
.specialHR:after {
  color: #fff;
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
} */

.container-dday {
  margin-left: 40px;
  min-width: 500px;
  max-width: 1000px;
  height: 35px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.delbtn {
  /* border: 2px solid var(--LightBlue); */
  border: none;
  outline: none;
  background-color: var(--BGColor1);
  color: var(--white);
  margin-left: 20px;
  /* width: 200px; */
  height: 35px;
  font-size: 16px;
  transition: 1s;
}

.delbtn:hover {
  /* border: 1px solid var(--Cyans); */
  background-color: var(--Cyans);
  color: #000;
  box-shadow: 0 0 2px #21ebff55, 0 0 4px #21ebff, 0 0 8px #21ebff, 0 0 16px #21ebff;
  transition: all 0.5s;
}

.item-dday:nth-child(1) {
  flex-basis: 50px;
}

.item-dday:nth-child(2) {
  flex-basis: 50px;
}

.item-dday:nth-child(3) {
  flex-basis: 100px;
}

.item-dday:nth-child(4) {
  flex-basis: 100px;
}

.item-dday:nth-child(5) {
  flex-basis: 250px;
}