.err-msg {
  margin-top: 50px;
  font-size: 30pt;
  color: red;
  text-align: center;
}

.big {
  color: #0ff;
  font-size: 25px;
}

.top_input {
  /* border: 3px solid #0ff; */
  display: flex;
  justify-content: center;
}

.top_input>input {
  height: 25px;
  margin-right: 10px;
}
#inputBody {
  width: 200px;
}

#inputDate {
  height: 27px;
}

#inputSubmit {
  height: 31px;
}

.container-dday {}