.diary {
  margin: 10px 20px 20px 20px;
  flex: 0.9;
  overflow-y: scroll;
}

.diary-box {
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 20px;
}

.diary-input-date {
  font-size: 0.75rem;
  text-align: right;
  margin-right: 2rem;
}

.diary-input-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.diary-input-text {
  text-align: center;
}