body {
  --inputHeight: 30px;
  --SEBlueColor: #61dafb;
  --limeColor: #21ebff
}

.diary {
  margin: 10px 20px 20px 20px;
  flex: 0.9;
  overflow-y: scroll;
}


/* .input-container {
  border: 2px solid var(--SEBlueColor)
} */

/* input 창에 커서 가져다놓았을 때 */
#title,
#date,
#body {
  /* color: #fff; */
  /* background-color: #5a5a5a; */
}


#title {
  width: 300px;
  height: var(--inputHeight)
}

#title:focus {
  outline: none !important;
  border: 2px solid var(--limeColor);
  box-shadow: 0 0 20px var(--limeColor);
}

#date {
  margin-left: 9px;
  width: 200px;
  height: var(--inputHeight)
}

#date:focus {
  outline: none !important;
  border: 2px solid var(--limeColor);
  box-shadow: 0 0 20px var(--limeColor);
}

#body {
  width: 500px;
  height: 100px;
}

#body:focus {
  outline: none !important;
  border: 2px solid var(--limeColor);
  box-shadow: 0 0 20px var(--limeColor);
}



/* //////////////////// */
/* //////////////////// */
/* //////////////////// */

.diary-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

body {
  --paddingVal: 20px
}

.diary-box {
  /* border: 1px solid #0f0; */
  /* border-left: 1px solid #fff; */
  /* border-right: 1px solid #fff; */
  border: 1px solid;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
  border-image-slice: 1;

  /* margin: center; */
  margin: var(--paddingVal);
  padding: var(--paddingVal);
  width: 600px;

}

.diary-box>hr {
  margin-left: 40px;
  margin-right: 40px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}


/* .diary-body {
  width: 570px;
} */

.diary-body-date {
  font-size: 0.75rem;
  text-align: right;
  margin-right: 2rem;
}

.diary-body-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.diary-body-text {
  text-align: center;
}