body {
  --black: #000;
  --white: #fff;
  --VSCodeBG: #11151a;
  --BGColor: #282828;
  --BGColor1: #262d41;
  --BGColor2: #313a50;
  --SkyBlue: #61dafb;
  --Cyans: #21ebff;
  --DarkCyans: #17a9b3;
  --Blue: #2456ff;
  --YelGreen: #21ff30;
  --Green: #17b322;
}

body {
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: var(--DarkCyans);
  padding: 10px 10px;
  /* padding: 20px 10px; */
}

.header a {
  float: left;
  color: var(--black);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: var(--Cyans);
  color: black;
}

.header-right {
  float: right;
}

/* @media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
} */