body {
  --black: #000;
  --white: #fff;
  --VSCodeBG: #11151a;
  --BGColor: #282828;
  --BGColor1: #262d41;
  --BGColor2: #313a50;
  --SkyBlue: #61dafb;
  --Cyans: #21ebff;
  --DarkCyans: #17a9b3;
  --Blue: #2456ff;
  --LightBlue: #69a5f8;
  --YelGreen: #21ff30;
  --Green: #17b322;
}

.main-info {
  /* background-color: var(--VSCodeBG); */
  margin-top: 50px;
  font-size: 15pt;
  color: yellow;
  content: '항목이 없습니다. ';
  text-align: center;

}
/* S Shape HR */
.main-hr {
  margin: 40px;
  padding: 0;
  overflow:hidden;
  border: none;
  border-top: medium double #fff;
  color: #fff;
  text-align: center;
  margin-top: 40px;
}
.main-hr:after {
  color: #fff;
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
}

.main-body-hr{
  width: 200px;
  margin-left: 40px;
  margin-right: 40px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  grid-gap: 10px;
  overflow: hidden;
}

.main-box>h2 {
  color: var(--white);
  outline: none;
  border: 1px solid var(--BGColor1);
  transition: 1s;
}
.main-box>h2:hover {
  transition: 0.5s;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 5px var(--LightBlue), 0 0 10px var(--LightBlue), 0 0 20px var(--LightBlue), 0 0 40px var(--LightBlue);
}
.main-box>h2:active {
  outline: none !important;
  border: 1px solid var(--Cyans);
  text-shadow: 0 0 20px var(--Cyans);
  /* transition: all 0.5s ease-in-out; */
}

/* .main-container {
  display: grid;
  grid-template: 32.6% 32.6% 32.6% / 32.6% 32.6% 32.6%;
  grid-gap: 10px;
  overflow: hidden;
} */
/* .main-container>[class *=box] {
  box-sizing: border-box;
  border: 5px solid rgb(168, 168, 168);
  border-radius: 10px;
  padding: 10px;
} */