body {
  text-align: center;
}

.badge {
  font-size: 30px;
  /* border: 1px solid #f0f; */
}

.badge>span {
  font-size: 50px;
  color: aqua;
}

.body {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* position: relative; */
  min-width: 500px;
}

/* input Area */

.input-area {
  /* border: 3px dotted #f0f; */
  height: 50px;
  border-radius: 0px;

}

.input-area>.input-box {
  border: 2px solid #69a5f8;
  background-color: #11151a;
  color: #fff;
  border-radius: 0px;
  width: 300px;
  height: 45px;
  font-size: 20px;
}

.input-area>.input-addBtn {
  border: 2px solid #69a5f8;
  background-color: #69a5f8;
  margin-left: 20px;
  width: 80px;
  height: 50px;
  font-size: 20px;

}

/* Output Area */
.container-todo {
  margin: 0 auto;
  /* border: 3px solid #0ff; */
  text-align: left;
  max-width: 700px;
  height: 100px;
  display: grid;
  align-items: center;
  /* justify-content: center; */
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: repeat(1, 1fr); */
}


/* DelBtn  nnnnnnnnnnnnnnnnnnnnnnnnn */
/* DelBtn  nnnnnnnnnnnnnnnnnnnnnnnnn */
/* DelBtn  nnnnnnnnnnnnnnnnnnnnnnnnn */
.delBtn {
  margin: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  /* width: 70%; */
  /* height: 70%; */
  justify-content: center;
  align-content: center;
  background-color: #a9f;
}

.delBtn:hover {
  justify-content: center;
  align-content: center;
  /* color: white; */
  /* background-color: #11f; */
  transition: 1s ease-in-out;
}

/* InnerText tttttttttttttttttttttttttt */
/* InnerText tttttttttttttttttttttttttt */
/* InnerText tttttttttttttttttttttttttt */

.container-todo>.innertext {
  font-size: 30px;
  color: #fff;
  /* display: inline-block; */
  /* margin: 0; */
  /* text-decoration: underline; */
}

/* .innertext {

} */

.innertext:after {
  display: block;
  content: '';
  border-bottom: solid 3px #ffffff;
  transform: scaleX(1);
  /* transition: transform 250ms ease-in-out; */
  /* transform: scaleX(0); */
  /* transform-origin: 0% 50%; */
}

.innertext:hover {
  transition: font-weight 0.2s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
}

/* .innertext:hover:after {
  transform: scaleX(1);
} */

/*.innertext.fromLeft:after {
  transform-origin: 0% 50%;
} */