body {
  --black: #000;
  --white: #fff;
  --VSCodeBG: #11151a;
  --BGColor: #282828;
  --BGColor1: #262d41;
  --BGColor2: #313a50;
  --SkyBlue: #61dafb;
  --Cyans: #21ebff;
  --DarkCyans: #17a9b3;
  --Blue: #2456ff;
  --LightBlue: #69a5f8;
  --YelGreen: #21ff30;
  --Green: #17b322;
}

body { text-align: center; }
.badge { font-size: 30px; }
.badge>span {
  font-size: 50px;
  color: var(--Cyans);
}

.body {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* position: relative; */
  min-width: 500px;
}


/* 입력하는 부분 */
.input-area {
  height: 50px;
  border-radius: 0px;
}
.input-area>.input-box {
  border: 2px solid #69a5f8;
  background-color: #11151a;
  color: #fff;
  border-radius: 0px;
  width: 300px;
  height: 45px;
  font-size: 20px;
  transition: 1s;
}
.input-area>.input-box:hover {
  outline: none;
  border: 2px solid var(--YelGreen);
  transition: all 10ms;
}
.input-area>.input-box:focus {
  outline: none !important;
  border: 2px solid var(--Cyans);
  box-shadow: 0 0 20px var(--Cyans);
  transition: all 0.5s ease-in-out;
}

.input-addBtn {
  border: 2px solid #69a5f8;
  background-color: var(--VSCodeBG);
  color: var(--white);
  font-size: 20px;
  letter-spacing: 4px;
  width: 80px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 1px;
  transition: all 0.5s;
}
.input-addBtn:hover {
  border: 2px solid var(--YelGreen);
  transition: all 0.5s;
}
.input-addBtn:active {
  border: 2px solid var(--Cyans);
  background-color: var(--Cyans);
  color: #000;
  box-shadow: 0 0 2px #21ebff55, 0 0 4px #21ebff, 0 0 8px #21ebff, 0 0 16px #21ebff;
  transition: 0s
}

.container-todo {
  margin: 0 auto;
  text-align: left;
  max-width: 700px;
  height: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;
}

/* 삭제 버튼 */
.delBtn {
  margin: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #a9f;
}
.delBtn:hover {
  justify-content: center;
  align-content: center;
  transition: 1s ease-in-out;
}

/* InnerText */
.container-todo>.innertext {
  font-size: 30px;
  color: #fff;
}
.innertext:after {
  display: block;
  content: '';
  border-bottom: solid 3px #ffffff;
  transform: scaleX(1);
}
.innertext:hover {
  transition: font-weight 0.2s ease-in-out;
  font-weight: bold;
}
.innertext:active { text-transform: uppercase; }


.clearBtn {
  border: 2px solid var(--LightBlue);
  background-color: var(--VSCodeBG);
  color: var(--white);
  margin-left: 20px;
  width: 80px;
  height: 50px;
  font-size: 20px;
}
.clearBtn:hover {
  border: 1px solid var(--Cyans);
  background-color: var(--Cyans);
  color: #000;
  box-shadow: 0 0 2px #21ebff55, 0 0 4px #21ebff, 0 0 8px #21ebff, 0 0 16px #21ebff;
  transition: all 0.5s;
}
