.COLOR_SAMPLE {
  color: #fff;
  color: #11151a;
  color: #282c34;
  color: #61dafb;
  color: #32d3ff;
  color: #8c8cff;
}

body {
  background-color: #11151a;
  color: #fff;
}

a {
  color: #61dafb;
  text-decoration: none;
  /* 리스트 스타일 제거할 것 */
}

a:hover {
  /* color: yellow; */
  font-weight: bold;
}