.COLOR_SAMPLE {
  color: #fff;
  color: #11151a;
  color: #282c34;
  color: #61dafb;
  color: #32d3ff;
  color: #8c8cff;
}

body {
  background-color: #11151a;
  color: #fff;
}

a {
  color: #61dafb;
}

a:hover {
  /* color: yellow; */
  font-weight: bold;
}

/* .body {
  padding-top: 50px;
} */

/* /////////////////////// */
/* /////////////////////// */


.BoxContainer {
  /* margin-top: 50px; */
  display: grid;
  grid-template: 32.7% 32.7% 32.7% / 32.7% 32.7% 32.7%;
  grid-gap: 10px;
}

.BoxContainer>[class *=box] {
  box-sizing: border-box;
  border: 5px solid rgb(168, 168, 168);
  border-radius: 10px;
  padding: 10px;
}
